.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 20px 0px 10px 0px;
  text-align: center;
}

.movieRow--listfield {
  overflow-x: hidden;
  padding-left: 30px;
}

.movieRow--list {
  width: 99999999px;
}

.movieRow--item {
  display: inline-block;
  width: 150px;
}

.movieRow--item img {
  width: 100%;
  border-radius: 7px;
  transform: scale(0.9);
  transition: all ease-in-out 300ms;
}

.movieRow--item img:hover {
  transform: scale(0.98);
  box-shadow: 0px 0px 9px #E50914;
}