@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #000000;
  color: #fff;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.lists {
  margin-top: -130px;
}

footer {
  margin: 50px 0;
  text-align: center;
  height: 70px;
}

.footer--bg {
  height: 100%;
  border-top: 2px solid #ff0000;
  opacity: 0.6;
}

.footer--bg a {
  text-decoration: none;
  color: #fff;
}

.footer--bg span {
  color: #ff0000;
}

.loader {
  height: 90vh;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.loading {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #ff0000);
  animation: animate 200ms linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.loading:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #000000;
  border-radius: 50%;
  z-index: 1000;
}

.loading:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #ff0000);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}
